@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');
*{
    margin: 0%;
    padding: 0%;
    border: border-box;
}
.productbanner-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.productbanner{
    display: flex;
    justify-content: space-between;
    /* background-color: #f7bb98; */
    width: 1200px;
}

.pbanner-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}
.pbanner-con  p{
    font-family: "Satisfy";
    font-style: italic;
    color: #f7bb98;
    font-size: 30px;
}




.pbanner-con  h1{
    font-family: "Raleway",sans-serif;
   font-weight: 300;
    font-size: 38px;
}

.p1{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: #f7bb98; */
    height: 159px;
    width: 330px;

}

.p1-img{
    height: 159px;
    
}

.p1-img img{
    height: 159px;
    width: 133px;
}

.p1-border{
    width: 113px;
    height: 139px;
  
    border: 1px solid black;
    position: relative;
    bottom: 9.3rem;
    left: .5rem;
    transition: 1s all ease-in-out;
}
.p1-con{
    margin-top: 1.5rem;
}
 .p1-con-p1{
    font-family: "Raleway",sans-serif;
font-size: 18px;
 }
 .icon{
     display: flex;
     margin-bottom: 1rem;
 }

 .icon i{
     color: #f7bb98;
      
 }

 .price{
    font-family: "Nunito sans",sans-serif;
    font-size: 14px;
 }
 .cross{
     text-decoration: line-through;
     font-family: "Nunito sans",sans-serif;
    font-size: 14px;
    color: #969696;

 }
.products{
    display: flex;
    justify-content: space-between;
    /* background-color: #f7bb98; */

    width: 750px;
}

#p2{
    margin-top: 2rem;
}
#p3{
    margin-top: 2rem;
}


.product-banner-img img{
    height: 539px;
    width: 369px;
}

 

