@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');
*{
    padding: 0%;
    margin: 0%;
    border: border-box;
}

 .product-card-top{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 5rem;
 }
.product-card-top  .product-card-top-p1{
    font-family: "Satisfy";
    color: #eaaa85;
    font-size: 35px;
}

.product-card-top .product-card-top-p2 {
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 300;  
     
}
.product-card-top .product-card-top-p3 {
    font-family: "Raleway", sans-serif;
    color: #9a9a9a;
    font-size: 18px;
    font-weight: 500;  
     
}




/* product-start */
.selling-product-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}
.selling-product{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.product1{
     /* background-color: #eaaa85; */
     width: 265px;
     /* height: 500px; */
}
.product1-border{
    border: 1px solid black;
    height: 292px;
    width: 232px;
    margin-left: 1rem;
    /* z-index: 1; */
}
.product1-img img{
    height: 320px;
    width: 260px;
    position: relative;
    bottom: 19rem;
    left: 5px;
    z-index: -1;
     
    
}
.product1-con{
    position: relative;
    bottom: 16rem;
}
.product1-sale p{
    
    color: white;
    font-family: "Railway",sans-serif;
    font-size: 14px;
    font-weight: 400;
    /* background-color: #eaaa85;
    height: 100%; */
    margin-top: 1rem;
}

.product1-sale  {
    background-color: black;
     height: 28px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0.8rem;
    top: 1rem;
     
}
.product1-rating{
    width: 265px;
    display: flex;
    justify-content: center;
    color: #eaaa85;
    font-size: 13px;

}
.product1-text{
    display: flex;
    justify-content: center;
    width: 265px;
margin-top: 1rem;
}
.product1-text p {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 400;
}

form #function2 {
    font-family: "Nunito Sans", sans-serif;
    height: 45px;
    width: 130px;
    background-color: transparent;
    /* margin-top: 5rem; */
    cursor: pointer;
    position: relative;
    border: 1px solid black;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
    z-index: 1;
    color: black; /* Default text color */
}

form #function2::before {
    content: "";
    background-color: black; 
    position: absolute;
    top: 0;
    left: -30px;
    width: 130%;
    height: 100%;
    transform: rotate(90deg); 
    transform-origin: left;
    transition: transform 0.6s ease-in-out;
    z-index: -1;
}
form{
    margin-top: 1rem;
}
form #function2:hover {
    color: white; /* Change text color on hover */
}

form #function2:hover::before {
    transform: rotate(0deg);
}

form #function3{
    font-family: "Nunito Sans", sans-serif;
    height: 45px;
    width: 130px;
    background-color: transparent;
    /* margin-top: 5rem; */
    cursor: pointer;
    position: relative;
    right: 5px;
    border: 1px solid black;
    border-left: none;
    /* overflow: hidden;
    transition: color 0.3s ease-in-out; */
    /* z-index: 1; */
    color: #eaaa85;
    font-weight: bold;



}
/* product-start */

 